/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --dmSans-font: "DM Sans", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --primary-text-clr: #0d152e;
  --secondary-text-clr: #81838c;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
body {
  font-family: var(--dmSans-font);
}
/* ============= common css end here ================ */

/* ============ navbar css start here ============== */
nav {
  width: 100%;
  padding: 41px 0;
  background-color: #3c50e0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
}
.brand_logo {
  color: var(--white-clr);
  font-size: 40px;
  font-weight: var(--bold-weight);
  line-height: 48px;
  margin-right: auto;
}
.brand_logo span {
  color: #fdb400;
}
.nav_menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 36px;
}
.nav_link {
  color: var(--white-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.nav_btn {
  padding: 13px 31px;
  color: var(--white-clr);
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  border: 1px solid var(--white-clr);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  margin-left: 44px;
}

/* ============ navbar css end here ============== */
